table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

table td {
  padding: 5px;
  vertical-align: top;
}

table tr td:nth-child(2) {
  text-align: right;
}

table tr.top table td {
  padding-bottom: 20px;
}

table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

table tr.top table td.title img {
  margin-left: -40px;
}

table tr.information table td {
  padding-bottom: 40px;
}

table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

table tr.details td {
  padding-bottom: 20px;
}

table tr.item td{
  border-bottom: 1px solid #eee;
}

table tr.item.last td {
  border-bottom: none;
}

table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

table tr.vat {
  border-top: 2px solid #eee;
}

@media only screen and (max-width: 600px) {
  table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}
